html {
	/*background-color: rgb(51,52,58);*/
	background-color: rgb(60, 3, 66);
	/*background-color: green;*/
	color: white;
	/*font-family: 'Inconsolata', monospace;*/
	/*font-family: "Bitter",serif;*/
	font-family: 'Quicksand', sans-serif;

}


canvas {  width: 100%;
  height: auto;
  background-color: pink;
  z-index: 0;
  /*margin-top:60px;*/
}

span {
	width:30px;
	height:30px;
	font-size: 30px;
	color: rgb(60, 3, 66);
}

.text{
	font-size: 30px;
}

.score-banner {
		display: flex;
	    flex-direction: row;
	    flex-wrap:wrap;
	    align-items: center;
	    /*justify-content: center;*/
	    padding:20px;
	    margin-left:25px;
	    list-style-type: none;
	    text-decoration: none;
	    font-size:22px;
		color: rgb(252, 248, 0);
}

#about-page {
	width: 170px;
    height: 20px;	
}

/*#puzzle-name {
	width: 240px;
    height: 20px;
}*/
#level {
	width: 260px;
    height: 20px;
}

#percentage-complete {
	width: 20px;
    height: 20px;
}

.modal {
	position: fixed;
	z-index:1;
	left: 20px;
	top:0px;
	width:640px;
	height:1000px;
	margin-top: 0px;
	/*margin-left:50px;*/
	border-radius: 10px;
	overflow:auto;
	color: rgb(60, 3, 66);
	opacity: 0.95;
	background-color: rgb(120, 83, 126);
	font-weight: bold;
	font-size: 28px;
}

#quiz-modal {
	display: none;
}

#success-modal {
	display: none;
}

#success-modal p{
	margin-left: 50px;
	margin-top: 250px;
	color: rgb(122, 218, 160);
	font-size: 40px;
	font-weight: 2px
}

.wrapper {
	  display: flex;
	  flex-direction: column;
	  margin-top:100px;
	  top:120px;
	   opacity: 1.5;
  /*align-items: center;*/
  /*justify-content: center;*/
}


.modal p{
	margin-left: 60px;
	margin-top: 50px;
	/*color: rgb(252, 248, 0);*/
	color: rgb(122, 218, 160);
	font-size: 26px;
	font-weight: 0.1px;

}


input:focus {
	outline:0;
}

.answer-button {
  /*position: fixed;*/
  /*margin: 0 auto;*/
  margin-top: 15px;
  margin-left:40px;
  margin-right:50px;
  padding: 30px;
  background: rgb(43, 21, 32);
  color: rgb(160, 144, 150);
  color: rgb(0, 0, 0);
  opacity: 1;
  font-size: 30px;
  cursor: pointer;
  outline: 0;
  box-shadow: none;
  border-color: rgb(43, 21, 32);
  border-radius: 10px;
/*  	 -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;*/
}






/* The Close Button */
.close {

	color: rgb(60, 3, 66);
    float: right;
    margin-right:20px;
    font-size: 48px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}