html {
	/*background-color: rgb(51,52,58);*/
	background-color: rgb(60, 3, 66);
	/*background-color: green;*/
	color: white;
	/*font-family: 'Inconsolata', monospace;*/
	/*font-family: "Bitter",serif;*/
	font-family: 'Quicksand', sans-serif;

}


canvas {  width: 100%;
  height: auto;
  background-color: pink;
  z-index: 0;
  margin-top:60px;
}

span {
	width:30px;
	height:30px;
	font-size: 30px;
	color: rgb(60, 3, 66);
}

.help-page {	
	list-style-type: none;
	text-decoration: none;
	font-size:22px;
	position: fixed;
	padding:20px;	
	color: rgb(252, 248, 0);
}

.help-text {
	position: fixed;
	padding:20px;
	top:120px;
	color: rgb(252, 248, 0);
}

a {
	padding:20px;
	left:70px;
	width: 170px;
    height: 20px;
    color: rgb(252, 248, 0);
}

li{
	list-style-type: none;
	text-decoration: none;
	font-size: 40px;
}

.text{
	font-size: 30px;
}

.score-banner {
/*		display: flex;
	    flex-direction: row;
	    flex-wrap:wrap;
	    align-items: center;*/
	    /*justify-content: center;*/
	    display:block;
	    position: fixed;
	    /*padding:20px;*/
/*	    margin-left:25px;*/
	    list-style-type: none;
	    text-decoration: none;
	    font-size:22px;
		color: rgb(252, 248, 0);
}

#help-page {
	padding:20px;
	position: fixed;
	left:70px;
	width: 170px;
    height: 20px;	
}

/*#puzzle-name {
	width: 240px;
    height: 20px;
}*/
#level {
	position: fixed;
	left:260px;
	width: 240px;
    height: 20px;
}

#completion-percentage {
	position: fixed;
	left: 560px;
	width: 600px;
    height: 20px;
}

.modal {
	position: fixed;
	z-index:1;
	left: 20px;
	top:0px;
	width:640px;
	height:1000px;
	margin-top: 0px;
	/*margin-left:50px;*/
	border-radius: 10px;
	overflow:auto;
	color: rgb(60, 3, 66);
	opacity: 0.95;
	background-color: rgb(120, 83, 126);
	font-weight: bold;
	font-size: 28px;
}

#quiz-modal {
	display: none;
}

#success-modal {
	display: none;
}

#level-complete-modal {
	display: none;
}

#correct-answer {
	margin-left: 40px;
	margin-top: 100px;
	color: rgb(122, 218, 160);
	color:rgb(252, 248, 0);
	font-size: 60px;
	font-weight: 2px
}

#progress {
	margin-left: 40px;
	margin-top: 20px;
	color: rgb(122, 218, 160);
	font-size: 22px;
	font-weight: 2px
}

#completed-header {
	margin-left: 40px;
	margin-top: 100px;
	color: rgb(122, 218, 160);
}

#correct-answer-list {
	margin-left: 150px;
	margin-top: 100px;
	color: rgb(122, 218, 160);
	color:rgb(252, 248, 0);
	font-size: 40px;
	font-weight: 2px
}

.wrapper {
	  display: flex;
	  flex-direction: column;
	  margin-top:100px;
	  top:120px;
	   opacity: 1.5;
  /*align-items: center;*/
  /*justify-content: center;*/
}


.modal p{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 50px;
	/*color: rgb(252, 248, 0);*/
	color: rgb(122, 218, 160);
	font-size: 26px;
	font-weight: 0.1px;

}


input:focus {
	outline:0;
}

#begin-button {

	  margin-top: 15px;
  margin-left:180px;
  margin-right:50px;
  padding: 30px;
  background: rgb(413, 121, 32);
  color: rgb(160, 144, 150);
  color: rgb(220, 14, 10);
  color: rgb(0, 0, 0);
  /*opacity: 1;*/
  font-size: 40px;
  font-style: bold;
  /*font-weight: 20px;*/
  cursor: pointer;
  outline: 0;
  box-shadow: none;
  border-color: rgb(43, 21, 32);
  border-radius: 10px;
}

#continue-button {

	  margin-top: 15px;
  margin-left:180px;
  margin-right:50px;
  padding: 30px;
  background: rgb(413, 121, 32);
  color: rgb(160, 144, 150);
  color: rgb(220, 14, 10);
  color: rgb(0, 0, 0);
  /*opacity: 1;*/
  font-size: 40px;
  font-style: bold;
  /*font-weight: 20px;*/
  cursor: pointer;
  outline: 0;
  box-shadow: none;
  border-color: rgb(43, 21, 32);
  border-radius: 10px;
}




.answer-button {
  /*position: fixed;*/
  /*margin: 0 auto;*/
  margin-top: 15px;
  margin-left:40px;
  margin-right:50px;
  padding: 30px;
  background: rgb(43, 21, 32);
  color: rgb(160, 144, 150);
  color: rgb(0, 0, 0);
  opacity: 1;
  font-size: 30px;
  cursor: pointer;
  outline: 0;
  box-shadow: none;
  border-color: rgb(43, 21, 32);
  border-radius: 10px;
/*  	 -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;*/
}






/* The Close Button */
.close {

	color: rgb(60, 3, 66);
    float: right;
    margin-right:20px;
    font-size: 48px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}